/.env
*.pem
*.ppk
*.pfx
*.cer
Server/certs/
Server/bin/
Server/obj/
Server/**/bin/
Server/**/obj/
**/bin/
**/obj/
node_modules/
.vs/
*.user
*.suo
bakis-aea6d-firebase-adminsdk-fbsvc-9964ba365b.json
Client/src/utils/firebaseConfig.ts
